body{
    background: #333333;
}

.nav-item {
    display: flex;
    margin: 0px 15px;
    font-size: 15px;
    margin-top: auto;
}

.nav-link:focus {
    background-color: transparent !important;
}

li {
    list-style: none;
    color: white;
}

* {
    margin: 0;
    background-color: #333333;
    box-sizing: border-box;
   
}

a {
    color: white;
    text-decoration: none;
}


a:hover {
    color: white !important;
    text-decoration: underline #E67E22 !important;
}

.carousel-item {
    margin: 10px;
}

.colo {

    text-align: left;
    font-size: 20px;
    margin:68px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 0 4px;
    background-color: #fff;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #E67E22;
}



h3 {
    text-align: center;
    color:  #F5F5DC;
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
}

.navbar-dark .navbar-nav .nav-link.active {
    background-color: transparent !important;
}

a:focus {
    outline: none !important;
    border-color: transparent;
   
}

.progress {
    margin: 25px;
    width: 100%;
}



.progress {
    background-color: #5D6D7E;
    height: 8px;
}

.hum {
    margin: 15px;
    background-color: #92817a;
    color: white;
    width: 80%; 

    
}

.hum p {
    justify-content: center;
    background-color: #92817a;
    font-size: 20px;
    padding: 20px;
}
.form-control:focus {
    border-color: black; 
    outline: none;
    box-shadow: none;
  }
  .btn:focus{
    box-shadow: none;
  }
  @media (max-width: 767px) {
    form {
      max-width: 100%;
    }
  }
  